<header>
  <div class="container">
    <a href="#" class="logo">Cake Manager</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/add">Add Cake</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

