<br>
<p>Available Cakes</p>
<ul *ngIf="cakes">
  <li *ngFor="let cake of cakes">
    <p class="name">{{ cake.title }}</p>
    <p class="country">{{ cake.desc }}</p>
    <img class="image" width="220" height="150" src="{{ cake.image }}"
         onerror="this.onerror=null; this.src='/assets/images/cake.png'"/>
  </li>
</ul>
