<div class="form">
  <div class="center-content">
    <table>
      <tr>
        <td class="align-right">Title</td>
        <td><input type="text" class="form-control" id="title"
                   required
                   size="50"
                   maxlength="100"
                   [(ngModel)]="cake.title"
                   name="title">
        </td>
      </tr>
      <tr>
        <td class="align-right">Desc</td>
        <td><input type="text" class="form-control" id="desc"
                   required
                   size="70"
                   maxlength="100"
                   [(ngModel)]="cake.desc"
                   name="desc">
        </td>
      </tr>
      <tr>
        <td class="align-right">Image</td>
        <td><input type="text" class="form-control" id="image"
                   required
                   size="100"
                   maxlength="300"
                   [(ngModel)]="cake.image"
                   name="image">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="button" (click)="addCake()">Add Cake</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2" class="error">{{errorMessage}}</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

