div.form {
  background: rgb(238, 238, 238);
  padding: 1em;
  width: 75%;
  height: 30%;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align: center;
}

td.align-right {
  text-align: right
}

input[type=text] {
  padding: 5px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

.error {
  color: darkred;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

